[2019-03-18 15:37] brux88 opened #3 "not work"
i tried , but not work.
show me this error:ackage:pub/src/solver/version_solver.dart  VersionSolver._result
This is an unexpected error. Please run

    pub --trace --verbosity=warning get --no-precompile

and include the logs in an issue on https://github.com/dart-lang/pub/issues/new

pub get failed (1)
exit code 1

[2019-03-19 15:54] fayaz07 commented on #3
are you facing issues while installing the package @brux88

[2019-03-20 21:20] melvinm99 commented on #3
Hi, I get an error too when declaring dependency in pubspec. Now I can't paste here the error, I will do it soon. It didn't however compile.

[2019-03-21 06:24] fayaz07 commented on #3
ok @brux88

[2019-03-21 15:17] uzumakinaruto123 commented on #3
Here you go

[2019-03-21 15:52] melvinm99 commented on #3
same error for me

[2019-04-11 12:14] fayaz07 commented on #3
try
[code]
and installing the latest package

[2019-04-11 12:14] #3 closed, assigned to fayaz07

[2019-04-20 13:04] PuneethRegonda opened #5 "I couldnt find the giffy running..."

[2019-04-21 09:58] #5 closed, assigned to nobody

[2019-04-22 06:16] eniserkaya opened #6 "Progress Indicator Not Showing"
Hi,

When i use this dialog, there is no progress indicator. The screen only has text. Is there any idea about this issue?

[2019-04-22 08:59] fayaz07 commented on #6
Hi, we are working on it and we will fix it soon

[2019-04-22 17:21] PuneethRegonda commented on #6
The issue is fixed in the latest update 1.0.8

[2019-04-23 03:42] fayaz07 commented on #6
Thanks @PuneethRegonda

[2019-04-23 03:42] #6 closed, assigned to nobody

[2019-04-25 10:41] fg2q1q3q opened #7 "hide method error"
I encountered the problem of `hide () `method error reporting in the process of using it.
My code like this：
[code]
But the error is as follows
[code]

[2019-04-25 11:33] fayaz07 commented on #7
please check if the progress dialog is in showing state or hidden state
[code]

[2019-04-26 02:17] fg2q1q3q commented on #7
First of all, the above suggestions didn't help, and I found that` isShowing` is always false by printing logs and viewing source code.

Now I have found the reason for the problem, because every network request I will first determine whether the network is available, if not cancel the request, because this is not a time-consuming operation, which led to the error, you can reproduce this error wit

[2019-04-26 06:10] fayaz07 commented on #7
@fg2q1q3q I have got the bug, acutally the isShowing is remaining unchanged on any operation, thanks for reporting. I have fixed the issue, soon I will update the library soon :)

[2019-04-30 13:32] #7 closed, assigned to fayaz07

[2019-04-30 13:33] fayaz07 commented on #7
fixed in the latest version  progress_dialog: ^1.1.0+1

[2019-05-06 07:41] fg2q1q3q commented on #7
Thank you. I've tried. Everything's OK.

[2019-05-07 18:30] fayaz07 commented on #7
@fg2q1q3q :)

[2019-06-05 15:20] trueshail opened #9 "Crashed under a stateful widget"
Could you please show how could i use it under a stateful widget?

[2019-06-05 15:46] trueshail commented on #9
NVM figured out!!

[2019-06-05 17:19] trueshail commented on #9
It crashed when using the update command.

Clashes with set state.

Change State method shouldn't be like these? It fixed my problem if I implemented mounted check!

`changeState() {
    if (mounted) {
      setState(() {});
    }
  }
`

[2019-06-06 05:41] fayaz07 commented on #9
Can you post the whole code

[2019-06-06 15:41] trueshail commented on #9
I tried to use your program under a stateful widget and i added set state when the dialog is show.

Calling Set State when the dialog is open it crashes.

[code]
It produces the error below:

I/flutter ( 9356): ProgressDialog shown
I/flutter ( 9356): ProgressDialog message changed: Downloading file...
I/flutter ( 9356): 120.0
I/flutter ( 9356): ProgressDialog message changed:
I/flutter ( 9356): Ol

[2019-06-07 03:32] fayaz07 commented on #9
you don't have to call  **setState(() {});** to update the message, it's already a stateful widget and observe there if you can understand, all the future instances will at the same time not one after other, if you would like to run them one after other, you should nest them.

Follow the example https://pub.dev/packages/progress_dialog#-example-tab-

[2019-06-07 13:18] trueshail commented on #9
I get that.
The reason i added the setState(() {}); is show that i have a method running to get me the list view and want to update the screen,
That is where it creates a problem.

[2019-06-07 18:31] #9 closed, assigned to nobody

[2019-06-21 10:05] dennbagas opened #10 "Disable close dialog by back button option"
I know there is an option to `barrierDismissible`, but it only prevents tap on the screen, if the back button got tapped, the dialog is closed. Is there any option that makes back button disabled when the dialog show up? Btw this plugin is really awesome :)

[2019-06-24 16:57] fayaz07 commented on #10
Thank you @dennbagas, surely I would look into your request.

[2019-07-19 08:27] chinachance commented on #10
i have same idea

[2019-07-24 10:33] dennbagas commented on #10
I proposed a pull request for this issue, please review it

[2019-07-24 17:31] fayaz07 commented on #10
sorry @dennbagas actually I was out of station, I will do it asap

[2019-07-28 12:30] deakjahn opened #12 "Non-hardwired text style"
This is a question of tastes, for sure, but I wouldn't hardwire the font color and size but would use what the platform provides instead, eg:

    child: Text(_dialogMessage, style: Theme.of(context).textTheme.subhead),
    child: Text("$_progress/100", style: Theme.of(context).textTheme.caption),
    child: Text(message, textAlign: TextAlign.center, style: Theme.of(context).textTheme.subhead),

[2019-07-29 03:26] fayaz07 commented on #12
So, you suggest me to use these styles?

[2019-07-29 08:44] deakjahn commented on #12
Yes. I do. Pick one that you consider nice but don't specify size and color manually. That's my suggestion.

[2019-07-30 06:59] fg2q1q3q opened #13 "crashed in method hide()"
After updating the flutter SDK to the latest version, the` hide() `method crashes. Specifically pointing to this line: `Navigator.of(_context).pop();`my code is exactly the same as the example, error reporting information is as follows：
[code]

[2019-07-31 10:09] christianwico commented on #12
Why not just let it be fully-extensible? The default theme is okay but some users would want to customize the dialog entirely...

Something like:
[code]

[2019-07-31 14:22] fayaz07 commented on #12
That's a cool idea! @HakuFlou

[2019-07-31 15:52] dexcell opened #14 "why cannot change loading gif"
Please make option to change loading image

[2019-08-01 08:28] fayaz07 commented on #14
duplicate of #12

[2019-08-04 03:10] dexcell commented on #13
same issue, to reproduce put the hide inside catch block. (try catch)

[2019-08-05 06:12] dexcell commented on #13
These code below will reproduce the issue
[code]
It turned out that `hide()` function is called before `showDialog` inside `show()` function complete. Workaround at the moment, we can use future delayed to hide the progress dialog, but maybe `show()` function should have return future, so we can use await to make sure the dialog is created.

[2019-08-06 02:50] #13 closed, assigned to nobody

[2019-08-06 02:52] fg2q1q3q commented on #13
I found the answer to the question, because I initialized it in the build method of state, and changed it to initState and the problem no longer appeared.

[2019-08-08 00:46] boskokg opened #16 "Support dark theme"
Can you please change the text hardcoded color value (Colors.black)?

Not sure, but you should probably pick some color from the theme...

Thanks

[2019-08-20 03:40] fg2q1q3q opened #17 "Crash when calling update method"
First of all, thank you for your contribution.

Calling the` update `method immediately after the` show `method is called will crash, although it may not be very common to use it like me, but you should deal with this bug.

[2019-08-21 06:03] fayaz07 commented on #17
Yeah sure @fg2q1q3q

[2019-08-29 10:11] #14 closed, assigned to fayaz07

[2019-08-31 16:16] fayaz07 commented on #17
Fixed in latest update pub v1.2.0, update will be published soon! Thank you!

[2019-08-31 16:16] #17 closed, assigned to fayaz07

[2019-08-31 16:17] fayaz07 commented on #16
Added custom styling in latest update pub v1.2.0, update will be published soon! Thank you!

[2019-08-31 16:17] #16 closed, assigned to fayaz07

[2019-08-31 16:18] fayaz07 commented on #12
Fixed in latest update pub v1.2.0, update will be published soon! Thank you!

[2019-08-31 16:18] #12 closed, assigned to fayaz07

[2019-08-31 16:57] fayaz07 commented on #10
I have fixed the issue in latest update pub v1.2.0, library will be updated soon, thank you!

[2019-08-31 16:57] #10 closed, assigned to fayaz07

[2019-08-31 17:33] boskokg opened #18 "When changing Page, progress is closed instead of page change"
I had a scenario where I forgot to close the progress dialog before navigating to a different page.
Instead of changing a page, Navigator only closed the progress dialog.

Since I have a big project where this issue can happen again I cannot let this behavior happen again.

Sorry, but I had to use a different progress dialog plugin.

Note: I am writing this so others know what they must be aware o

[2019-08-31 17:43] fayaz07 commented on #18
In my case I didn't face any issue as you have encountered the page properly navigated and even the dialog got closed properly.
Anyhow I will check it again, work on your request, thank you for reporting!

[2019-08-31 17:49] fayaz07 commented on #18
@boskokg considering this issue, it happens when page is routed to other without closing the dialog, so it looks for disposing the widget, I have added a check for it when the widget is disposed, hope that works, please checkout the latest update pub v1.2.0 will be released soon, thank you!

[2019-09-04 08:54] Akun97 opened #19 "update"
![image](https://user-images.githubusercontent.com/41559812/64240574-b09f7500-cf34-11e9-8edb-5277f4158aec.png)

[2019-09-04 09:46] fayaz07 commented on #19
Update will be posted soon after testing! Thank you

[2019-09-11 02:52] HyggeBo7 opened #21 "Because flutter_app depends on progress_dialog ^1.2.0 which doesn't match any versions"
Because flutter_app depends on progress_dialog ^1.2.0 which doesn't match any versions, version solving failed.
pub get failed (1)

flutter sdk:
 channel:beta
version: v1.9.1+hotfix.2

[2019-09-11 04:21] fayaz07 commented on #21
Hi @DearBo7, please note that latest published version is 1.1.0+1, version: 1.2.0 will be published soon after prior testing. Thank you!

[2019-09-13 21:19] fayaz07 commented on #21
Update is live now! Check it out.

[2019-09-13 21:19] #21 closed, assigned to nobody

[2019-09-13 21:19] fayaz07 commented on #19
Update is live now, check it out

[2019-09-13 21:19] #19 closed, assigned to nobody

[2019-09-13 21:20] fayaz07 commented on #18
Hi @boskokg , please do checkout the latest version of library, that would definitely help solve the issue you faced. I would be pleased if you check out and close the isssue if it resolved your problem!

[2019-09-16 08:18] mychaelgo opened #22 ".update not working"
Lib version : `progress_dialog: ^1.2.0`

Sample code:
[code]

Output:
[code]

Code is working if i comment `_progressDialog.update()` function

[2019-09-16 08:54] fayaz07 commented on #22
try writing this line inside the **build()** method
[code]

[2019-09-20 07:28] mychaelgo commented on #22
@fayaz07 i've put this code inside build method
[code]

Error still same

[2019-09-20 08:53] #18 closed, assigned to nobody

[2019-09-20 08:54] fayaz07 commented on #22
Can you post sample code, where you have encountered this issue?

[2019-09-20 09:46] mychaelgo commented on #22
Here sample code
[code]

the problem maybe we can't setState if progress dialog is updating

[2019-09-20 10:01] mychaelgo opened #23 "duplicate repository?"
what are differences between this repo and https://github.com/apps-hub/progress_dialog ?

If i want to contribute, to where repository?

[2019-09-20 10:07] fayaz07 commented on #23
you can contribute to this [repo](https://github.com/fayaz07/progress_dialog/)

[2019-09-20 10:08] #23 closed, assigned to nobody

[2019-09-20 10:13] fayaz07 commented on #22
there is a check, if the progress dialog is showing, only then setState will be called

[2019-09-20 10:17] mychaelgo commented on #22
so what is the solution?

[2019-09-20 11:20] fayaz07 commented on #22
I haven't checked your code, I will update to you after checking. Thank You

[2019-09-21 08:45] fayaz07 commented on #22
[code]
Check this code, this is working perfectly
[Demo](https://drive.google.com/file/d/13Pp30WpOKZ4QM_hcFmKpHvwH9iStvfOJ/view?usp=sharing)

[2019-09-23 03:22] fayaz07 commented on #22
I am closing this issue, you must read the logs and configure properly

[2019-09-23 03:22] #22 closed, assigned to nobody

[2019-10-23 10:26] jackyhieu1211-hn opened #27 "Bug crash app when call below build(BuildContext context)"
Hello admin.

I use lib:

[code]
App show error below.

[code]

[2019-10-23 10:30] jackyhieu1211-hn opened #28 "progressDialog not hide"
Hello admin. I user lib [After Layout](https://pub.dev/packages/after_layout)
Please see code

[code]
 `print("pr show? ${_progressDialog.isShowing()}");` return **false** => progressDialog not hide. Please help me fix.

[2019-10-23 10:48] fayaz07 commented on #27
Study the rules of build method, build method will execute infinite no. of times, you cannot call, you cannot perform that action infinite number of times and it's not bug in the package, it's fault in your code

[2019-10-23 10:48] #27 closed, assigned to nobody

[2019-10-23 10:49] #28 closed, assigned to nobody

[2019-10-23 10:52] fayaz07 commented on #27
If you really need to execute something, when the screen is shown up, you need to use **initState()** or write the code below in **build()** method, this will execute only for once after the widget is attatched to tree
[code]

[2019-10-24 14:36] zmabies opened #29 "update after show causes widget not mounted crash"
**Using update method after show method causes the following crash error:**
_Unhandled Exception: setState() called in constructor: (lifecycle state: created, no widget, not mounted) This happens when you call setState() on a State object for a widget that hasn't been inserted into the widget tree yet. It is not necessary to call setState() in the constructor, since the state is already assumed to

[2019-10-24 17:45] tiagooliveira1 commented on #29
Me too.

[2019-10-25 03:20] fayaz07 commented on #29
Hi, can you post sample code which I can use to test.

[2019-10-25 10:21] jackyhieu1211-hn opened #30 "How to show progress dialog on initState"
Hello admin.

I use code like as. but progress dialog not show. Please guide me. thank you very much.

[code]

[2019-10-27 14:10] zmabies commented on #29
Hello @fayaz07

please see this repo for the code:
https://github.com/zmabies/ProgressDialogTest

[2019-10-27 15:24] fayaz07 commented on #30
@hieuseesaa why do you do spam, always you create issue on the same context and each time a duplicate

[code]

[2019-10-27 15:24] #30 closed, assigned to fayaz07

[2019-10-27 15:28] fayaz07 commented on #29
Launching lib/main.dart on SM J600G in debug mode...
Initializing gradle...
Resolving dependencies...
Running Gradle task 'assembleDebug'...
Built build/app/outputs/apk/debug/app-debug.apk.
Installing build/app/outputs/apk/app.apk...
Syncing files to device SM J600G...
D/InputMethodManager( 7540): prepareNavigationBarInfo() DecorView@4f0f7d4[MainActivity]
D/InputMethodManager( 7540): getNavigation

[2019-10-27 15:29] fayaz07 commented on #29
if you would like to show the dialog, when the widget is initalised, use this code
[code]

[2019-10-27 15:32] fayaz07 commented on #29
this didn't give me any issue

[2019-10-27 15:38] zmabies commented on #29
Did you test it with the navigation from home class in main?

[2019-10-27 15:39] zmabies commented on #29
this isn't the issue

[2019-10-28 04:20] jackyhieu1211-hn commented on #30
@fayaz07 sorry sir. But I tried sample code. progress had show but it not hide :(

`print("pr show? ${_progressDialog.isShowing()}"); return true`. But progress not hide :(

[2019-10-28 13:51] fayaz07 commented on #30
[code]

Call this code whenever you want to hide it

[2019-10-29 03:49] jackyhieu1211-hn commented on #30
@fayaz07
I called it . But progress still not hide.

[code]

I found the problem. because I use `await` . I removed `await` and use `then` and It worked. If someone has the same problem. I hope this helps.

[code]

[2019-10-31 13:45] bagus-repository opened #31 "Progress Dialog not hidding after API call"
Hey, nice package!
I can not hide the progress dialog after calling my API even isShowing = true,

But when I wrap the progressDialog.hide() with FutureDelayed 3 seconds, the dialog hidden after get my API call.

[2019-11-04 13:29] zmabies commented on #29
Hello @fayaz07, any updates?

[2019-11-05 13:27] rguntha opened #32 "Getting setState() called in constructor error"
**Error**
Getting error while calling update function on the Progress dialog object.

**My Code**
                    ProgressDialog pr = new ProgressDialog(context,type: ProgressDialogType.Normal, isDismissible: false);
                    pr.style(message: 'Preparing to create event. Please wait...',progressWidget: CircularProgressIndicator());
                    pr.show();

[2019-11-08 08:10] viveksakpal opened #33 "Progress Dialog Padding"
Is there a way to add more padding between progressbar and loading text made to make it center.
please revert.

[2019-11-08 12:08] fayaz07 commented on #33
Hi @viveksakpal , the lib doesn't support that feature as it was designed only to show a progress indicator with some message, I appreciate your need for it in the next update, will allow the users to adjust in a custom way.

[2019-11-08 12:23] viveksakpal commented on #33
Thanks for your reply
I really appreciate your help
Great work with the library
Can you please give me the idea how long it can take it will be really
helpful.

On Fri, 8 Nov, 2019, 5:38 PM Mohammad Fayaz, <notifications@github.com>
wrote:

[2019-11-08 13:18] fayaz07 commented on #33
I'm not sure about that

[2019-11-08 13:20] fayaz07 commented on #32
Duplicate #30

[2019-11-08 13:20] #32 closed, assigned to nobody

[2019-11-09 17:11] fayaz07 commented on #31
hi, sample code please

[2019-11-12 15:31] BjoernPetersen commented on #31
I have the same issue. If the API call (or whatever you're indicating the progress of) is too fast, the `hide()` call doesn't actually hide the dialog.

A sample button demonstrating the bug:
[code]

[2019-11-13 12:39] yousaywhat opened #34 "Show dialog and then hide and then just show it again, and you can't hide it"
pr.show();
pr.dismiss();
pr.show();
pr.dismiss();
But the dialog shown a second time cannot be hidden

[2019-11-13 12:51] fayaz07 commented on #34
code

[2019-11-13 23:48] jam33 commented on #34
this is happening for me too.  i'll try to get some code that illustrates the problem, but thought for now I would confirm I'm experiencing this too (with the latest version of everything).

[2019-11-15 09:33] bagus-repository commented on #31
Yups in fast condition(show and hide simultaneously the pr not hidden).

I found another issue when defining more progress dialog, the first will always be called whatever progress dialog variable you used;

[code]

[2019-11-16 04:57] yousaywhat commented on #34
@fayaz07
I have a list, similar to a network backup folder, display dialog before access to the data, access to the data behind the dialog, click on one list of entries, the directory into the next layer, and access to the data before the show, after the access to the data hiding, if at the moment the first hidden layer dialog click on to the next layer, so the dialog cannot be hidden

[2019-11-16 05:03] yousaywhat commented on #34
![image](https://user-images.githubusercontent.com/16442633/68988384-69f1c380-0871-11ea-9fc0-a84325c4d73d.png)

[2019-11-16 05:03] yousaywhat commented on #34
![image](https://user-images.githubusercontent.com/16442633/68988388-7bd36680-0871-11ea-9bf2-fefbf5c6055a.png)

[2019-11-16 16:52] fayaz07 commented on #34
post the log please, which is causing the issue

[2019-11-18 03:02] yousaywhat commented on #34
There is no error message, but the dialog cannot hide it @fayaz07

[2019-11-18 07:44] fayaz07 commented on #34
try using the code in a try-catch block

[2019-11-20 02:14] yousaywhat commented on #34
I tried, but didn't report any errors, so I couldn't walk catch

[2019-11-20 02:19] yousaywhat commented on #34
The first Dialog is indeed hidden, but if the second Dialog is opened instantly, the second Dialog cannot be hidden

[2019-11-20 04:21] fayaz07 commented on #34
then that's not the issue of progress_dialog you have to configure it properly
you can continue until the process is done, rather than hiding and again showing it right?

[2019-11-20 06:26] fayaz07 commented on #31
@bagus-repository  how can you access the context widget in initstate, when the package clearly mentions that you need to initialize in the build method

[2019-11-20 07:20] yousaywhat commented on #34
No, I've tried them, show this dialog before to get the data, after the access to the data hiding, if in the hidden moments to get the data again, show the dialog, then the second dialog will always exist, I couldn't think of what went wrong, I'm just in the hidden moment only let him once again shows the dialog, you can try this logic, add a delay to hide

[2019-11-21 08:49] BjoernPetersen commented on #31
How is this issue invalid? Just put my sample code in a build method and see for yourself.

[2019-11-21 15:32] fayaz07 commented on #31
read the rules of the library again @BjoernPetersen

[2019-11-22 12:57] BjoernPetersen commented on #31
Are you referring to the "Navigating to next screens must be done after the completion of Future - hide()." part?

[2019-11-26 06:24] #31 closed, assigned to nobody

[2019-11-26 06:33] bagus-repository opened #35 "Multiple progress dialog instance in a statefull widget"
**Describe the bug**
I got strange condition if I have multiple progress dialog instance in a Statefull Widget, progress dialogs instantiate on build widget like this
[code]

If I call progressDialog.show() or progressDownloadDialog.show(), the progressDownloadDialog will be triggered.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'make multiple instance progress dialog'
2. Call on '

[2019-11-26 13:47] fayaz07 commented on #35
just tell me one thing, why do one require two instances if the work can be done with only one instance

[2019-11-26 13:48] fayaz07 commented on #34
hide and show methods are futures, wait for them to get executed first

[2019-11-26 13:48] #34 closed, assigned to nobody

[2019-11-26 13:48] #35 closed, assigned to nobody

[2019-11-29 03:50] bagus-repository commented on #35
Ah my bad, I do not see the source code, I think the ProgressDialogType just for this purpose

[code]
So if I can't instantiate multiple instance (Normal and Download), I would just give the type to ProgressDialogType.Normal and update the percentage in the text instead of progress property.

That's ok, thanks for replying. My suggestion is remove the Type and add child property for customize the

[2019-12-02 07:07] nikhilvc opened #36 "Progress dialog is not hiding on catchError"
i want to show progress dialog on before of API call .while calling API if there is any error occurred i wants to hide the dialog on CatchError function

[2019-12-02 14:34] BjoernPetersen commented on #34
The show method is not a future.

[2019-12-03 07:04] fayaz07 commented on #36
show me the code

[2019-12-03 11:14] nikhilvc commented on #36
I handle this issue with blow code

 Future.delayed(Duration(seconds: 3)).then((onValue) {
          if (pr.isShowing())
            pr.hide().whenComplete(() {
              showToast("error");
            });
        });

[2019-12-03 14:54] fayaz07 commented on #34
yeah @BjoernPetersen  that's my bad I will fix it

[2019-12-10 12:45] openwrd commented on #36
pr.show();
pr.hide(); //not working

[2019-12-12 10:33] ms747 commented on #34
@fayaz07 Any updates? I'm having the same issue. Thanks

[2019-12-19 09:01] nithish-knetworks commented on #36
Not able to close the Dialog.
Source Code:
 ProgressDialog progressDialog = ProgressDialog(context,
                                          type: ProgressDialogType.Normal,isDismissible: true);
                                      progressDialog.style(
                                          message: 'Saving...',
                                          backgroundColor: Colors.white,

[2019-12-19 10:55] neokree opened #38 "Allow to await for the dialog show"
**Problem statement**
I use the progress dialog to keep the user informed of a blocking operation.
So the progress dialog must be showed and hidden after an operation, but if the operation is async but terminates very quickly, the dialog is not hidden, because the `showDialog` method (used internally in the `.show()`) does not have finished showing the dialog.

**Describe the solution you'd like**

[2019-12-20 08:48] openwrd commented on #38
good idea, but  call funciton require **async**.

[2019-12-21 23:17] davbaron commented on #34
I had a similar issue, albeit for different reasons. In my case, I have a 'sign in' screen that executes, and upon success, closes (pops) and informs 'the rest of the app' (via ScopedModel) that the user has signed in, which results in the underlying screen to 'react' by calling a web api to fetch data for display on that screen. Though the 'show/hide' couplets are on separate screens, they 'act'

[2019-12-26 18:05] neokree commented on #38
Yeah sure, it is the main point of doing it.
Obviously you could also use the `.then()` method and chaining the Futures, but I think it is more readable this way.

[2019-12-28 12:45] chitgoks opened #39 "Sample determinate LinearProgressIndicator"
**Is your feature request related to a problem? Please describe.**
This is not a problem. More of a sample code.

**Describe the solution you'd like**
Your sample uses a Circle progress indicator. I hope you can also provide a LinearProgressIndicator that will simulate a determinate progress.

**Describe alternatives you've considered**
Tried to change the widget to linear but it appears beside th

[2019-12-29 23:02] khocef opened #40 "The _dismissingContext is null"
Error

E/flutter (14884): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: NoSuchMethodError: The getter 'focusScopeNode' was called on null.
E/flutter (14884): Receiver: null
E/flutter (14884): Tried calling: focusScopeNode

[code]
the _dismissingContext context is always null
the _dismissingContext  should be initialized

[2020-01-01 10:20] tmibvishal commented on #38
Until this issue is resolved, you can use
`await Future.delayed(Duration(seconds: 1));`
for allowing the dialog to pop up

[2020-01-02 16:50] sidvenu commented on #34
[code]
The 2nd log happens between showing it and calling `dismiss()`. Thus, in `dismiss()` method, `isShowing = false` and thus, says it is already dismissed, though it hasn't been removed from the screen.

[2020-01-04 05:19] furkankurt commented on #29
Still same?

[2020-01-23 19:57] furkankurt commented on #29
@fayaz07 unfortunately issue isn't resolved. Not always but sometimes I get the error and crash.
`
I/flutter (18088): ProgressDialog shown
E/flutter (18088): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: NoSuchMethodError: The method 'update' was called on null.
E/flutter (18088): Receiver: null
E/flutter (18088): Tried calling: update()
E/flutter (18088): #0      Object.noSuch

[2020-01-28 15:18] #40 closed, assigned to nobody

[2020-01-28 15:20] fayaz07 commented on #39
@chitgoks Sure, I will be working on your request, due to busy schedule I wasn't able to focus on it

[2020-01-30 14:57] nicodumdum opened #42 "Parameter for text align"
I am having issues when I am using some specific strings (e.g. "Updating queue number...") as progress messages where it turns out to be weird looking because of some weird text alignment. (See attached pic)
![Screenshot_20200130-224335](https://user-images.githubusercontent.com/1650987/73460464-7cc95e00-43b3-11ea-9fe7-ee8e2536c49b.png)

I checked the code and it confirmed that it was using justif

[2020-01-30 16:05] fayaz07 commented on #42
Thanks @nicodumdum , I will surely look into this issue

[2020-02-04 01:42] Bahaaib commented on #36
Hi,
I faced the same issue specifically when any exception has been thrown, i couldn't `dismiss` the progress dialog in any possible way.
The Solution is:
inside your catch add `Navigator.of(context).pop();` instead of `progressDialog.dismiss()`.

That works because basically flutter has 2 default routes. The main route which by default renders the Scaffolds and gives them control over the screen.

[2020-02-05 09:19] AldiSatrioAji commented on #36
@Bahaaib Been stuck for an hour and finally it's working for me! Thanks

[2020-02-12 10:32] BjoernPetersen commented on #38
Could we get a new release with the fixed version?

By the way (for the impatient), a workaround until then:

`pubspec.yaml`
[code]

[2020-02-12 13:29] fayaz07 commented on #38
Update v1.2.1 is live, please checkout

[2020-02-12 13:29] #38 closed, assigned to nobody

[2020-03-06 03:49] rochadaniel commented on #36
After the #41 this code worked for me (handle `.show()` asynchronously):

[code]

[2020-03-26 07:30] liudonghua123 opened #44 "Progress dialog is not show when invoke show method."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
I write some code like the following. It is for multi-platform. And the progress dialog is not show in android/web, however the dialog is show in windows platform.

[code]

**Expected behavior**
The dialog show as expected.

**Desktop (please complete the following informatio

[2020-03-26 07:32] liudonghua123 commented on #44
If I changed `pr.show()` to
[code]
Then it seems work, I will do more test about this.

[2020-04-02 18:15] cardozorobson opened #45 "Progress gif not showing - v1.2.1"
Hi!! How r u?

The progress gif is not showing, e my log is printing this:
Unable to load asset: packages/progress_dialog/assets/double_ring_loading_io.gif

How i may proceed?

[2020-04-04 16:41] carlhung opened #46 "call Navigator.pop in pr.hide().whenComplete 80% not poping out"
i want to pop out the route, but 80% of times it doesn't work.

pr.hide().whenComplete((){
  Navigator.pop(context, xxx);
});

[2020-04-08 03:57] cyberlahy commented on #46
I confirm, mine too

[2020-04-08 06:09] fayaz07 commented on #46
Can you show me the sample code to reproduce

[2020-04-08 06:10] fayaz07 commented on #45
Hi, I am good, thank you for asking. How are you?

try flutter clean and then flutter packages get and run the app

[2020-04-08 06:12] fayaz07 commented on #44
please use ```await pr.show()```
usually in flutter, for the initialization of dialog takes 200 ms

[2020-04-08 06:52] liudonghua123 commented on #44
@fayaz07 Hi, I tried to `await` it, but it's the same, the dialog is not show.

[2020-04-08 09:02] fayaz07 commented on #44
thanks @liudonghua123, I will checkit out

[2020-04-09 09:37] bobosette opened #47 "ProgressDialog CircularProgressIndicator stops animation when await future"
Hi everybody. I have this problem with progressdailog: I have to load a big txt file (30mb) and I want to show the dialog till is loaded, but when I tap on the button the dialog starts showing and after 1 second the circularprogressindicator stops his animation; when the file is loaded (it takes almost 30 sec) the dialog hides correctly. How can I fix that?
Here is my code, the future:

`Future<Pa

[2020-04-11 08:43] fayaz07 commented on #36
Please use the following code for showing or hiding the progress dialog
[code]

[2020-04-11 08:43] #36 closed, assigned to nobody

[2020-04-11 09:04] fayaz07 commented on #29
Hi everyone, please use await for showing and hiding the dialog just as
[code]

[2020-04-11 09:04] #29 closed, assigned to fayaz07

[2020-04-11 09:07] fayaz07 commented on #44
can you post the updated code without the work you include from other files

[2020-04-11 09:19] fayaz07 commented on #42
Please checkout latest version v1.2.2, I am closing the issue now, feel free to re-open if it doesn't solve your requirement

[2020-04-11 09:19] #42 closed, assigned to nobody

[2020-04-11 09:19] fayaz07 commented on #39
Please checkout v1.2.2

[2020-04-11 09:19] #39 closed, assigned to nobody

[2020-04-11 09:20] fayaz07 commented on #33
Please checkout v1.2.2

[2020-04-11 09:20] #33 closed, assigned to nobody

[2020-04-11 13:02] chitgoks opened #48 "Progress dialog with no text"
feature request

the progress diañog has no text or label, the width amd height shouñd resize to fit it.

in this case the dialog now becomes a square

[2020-04-11 13:42] fayaz07 commented on #48
Well, that depends on how you configure your child and there is nothing wrong with the package in making the end result square if you don't decorate it. I am closing this issue as it has nothing wrong with the package and end user should configure it. If you feel there is something wrong, please feel free to re-open the issue

[2020-04-11 13:42] #48 closed, assigned to nobody

[2020-04-12 15:44] tony123S opened #49 "Dialog not dismissing"
Why dialog not dismiss in catch block ?

Dialog able to dismiss in try, but not in catch.

[code]
Then I replace `pr.dismiss` in catch to `Navigator.of(context, rootNavigator: true).pop();`, and it works! But when I  back to previous page and  want to push to this page again, I can't..

[2020-04-12 15:53] tony123S commented on #36
Well, if I go from page A to page B, in page B catch, I use `Navigator.of(context).pop();` , it dismiss the dialog. But when I back to page A and push to pageB again, it doesn't allow me to go to page B  again because I have `Navigator.of(context).pop();` in catch.

[2020-04-12 16:08] tony123S commented on #49
The latest version solved the issue.

[2020-04-12 16:08] #49 closed, assigned to nobody

[2020-04-12 23:18] chitgoks opened #50 "Set Text On Existing Instance"
**Is your feature request related to a problem? Please describe.**
Once i have created a progress dialog, there is no way to set the label.

**Describe the solution you'd like**
I am using this dialog to do more than 1 task so a way to be able to change the existing text would be nice.

[2020-04-13 03:28] fayaz07 commented on #50
@chitgoks , please read the docs first, unnecessarily don't create issues here. There is already a method called update is provided. Go ahead and read docs first.

[2020-04-13 03:28] #50 closed, assigned to nobody

[2020-04-14 23:51] oussamabonnor1 commented on #45
Hello, i am using the 1.2.2 version and i had the same issue, @fayaz07 your suggestion works perfectly. Thank you!

[2020-04-15 09:07] fayaz07 commented on #47
@bobosette , please use ```await pr.show();```

[2020-04-15 09:08] fayaz07 commented on #45
@oussamabonnor1 , good to hear that :)

[2020-04-15 09:08] #45 closed, assigned to fayaz07

[2020-04-16 07:55] bobosette commented on #47
Sorry but also if I use await pr.show() I have the same issue

[2020-04-16 08:23] fayaz07 commented on #47
@bobosette did you update to the latest version v1.2.2

[2020-04-16 10:56] bobosette commented on #47
yes but nothing changes

[2020-04-16 11:25] fayaz07 commented on #47
Can you post sample code along with the method where you're writing it?

[2020-04-16 16:33] bobosette commented on #47
my onTap:

[code]

the future:

[code]

[2020-04-16 17:39] fayaz07 commented on #47
where did you write the initialization of ```pr``` ?

[2020-04-16 17:45] bobosette commented on #47
Inside a drawer item! When data are loaded a new page is opened

Il Gio 16 Apr 2020, 19:40 Mohammad Fayaz <notifications@github.com> ha
scritto:

[2020-04-16 17:46] fayaz07 commented on #47
Sorry, I didn't get your issue. If possible please post whole ```.dart``` file, which will hep me better to solve your issue. Otherwise just use below code. I can't help you without clearly stating the issue

[code]

[2020-04-16 18:35] bobosette commented on #47
What do u thing it could be??

Il Gio 16 Apr 2020, 19:46 Mohammad Fayaz <notifications@github.com> ha
scritto:

[2020-04-16 19:32] fayaz07 commented on #47
How can I reproduce the issue if you're not proving me basic code snippet

[2020-04-17 07:44] bobosette commented on #47
Sorry I didn't read the all mail and I lost the last part of the message.
Here it is:

[code]

[2020-04-19 21:05] enricobenedos opened #51 "Has `dismiss()` been replaced from `hide()`?"
I've updated the package version from `v1.1.1` to `1.1.2`.
This "bug fix" update broke my project because `dismiss()` method does not exist anymore and it is not reported on changelog. Should we use `hide()` now?
Thank you

[2020-04-20 03:26] fayaz07 commented on #51
Hi @enricobenedos , yeah I actually removed the dismiss method and merged the functionality into ```hide``` method

[2020-04-20 07:28] enricobenedos commented on #51
Thank you!

[2020-04-20 07:28] #51 closed, assigned to nobody

[2020-04-20 09:44] xsahil03x commented on #44
This is because you are trying to show dialog when nothing is rendered on screen. So you need to wait for flutter to render its first screen, then only you can show dialog

[2020-04-20 14:33] liudonghua123 commented on #44
@fayaz07 @xsahil03x Thanks, because I have deleted those issued code, and I can't reproduce it, I will reopen it if necessary or I can reproduce the issue. Thanks, 😃

[2020-04-20 14:34] #44 closed, assigned to fayaz07

[2020-04-22 11:42] lqk9511 opened #53 "The loading box does not disappear"
**Describe the bug**
When I update to the latest version.
If I trigger multiple loading boxes at the same time, I use the `hide()` they will not disappear.
because it has no `dismiss()`.

**To Reproduce**
[code]

**Expected behavior**
Should disappear

**Smartphone (please complete the following information):**
 - Device: iPhone7
 - OS: iOS.13.3.1
 - flutter
Flutter 1.12.13+hotfix.9 • channel stab

[2020-04-22 12:48] fayaz07 commented on #53
please use the code as
[code]

[2020-04-22 12:48] #53 closed, assigned to nobody

[2020-04-22 12:53] rhyscoronado opened #54 "ProgressDialog won't show again when coming back from a previous screen."
**Describe the bug**
Screen with ProgressDialog loading a content, after the content loads, the ProgressDialog is hidden and it moves to the next screen, when you pop back to that screen, and when you try to show the ProgressDialog again, it doesn't show.

**Expected behavior**
Should show without error

**Log**
`flutter: Exception while showing the dialog
[VERBOSE-2:ui_dart_state.cc(157)] Unhandl

[2020-04-22 13:04] lqk9511 commented on #53
I tried that and it still doesn't work.
When it executes `hide()`, `isShowing()` is `false`,but it is displayed.

[2020-04-22 18:24] xsahil03x commented on #54
@rhyscoronado please share some code through which we can replicate the issue.

[2020-04-22 19:13] fayaz07 commented on #54
Also @rhyscoronado  @xsahil03x , we have the dialog configured as to use the ```context``` of the current screen and display the dialog, if the current screen has to ```pop```, first the dialog will get ```popped``` from the stack and then the screen.

@rhyscoronado are you trying just to ```push``` or ```pushReplacement``` ?

[2020-04-23 00:33] rhyscoronado commented on #54
@xsahil03x  @fayaz07

`
[code]

    if (result != null) {
      //add sign here
      method = 'add-sign';
      print('METHOD:  $method');
      bloc.loadProjectSigns(project.id);
    }
  }`

That's the part of the project code being executed that triggers the error log I posted earlier.

So after going to the Traffic Page Route, I just pop that Traffic Page with a result.
Then when that code is

[2020-04-27 07:46] bobosette commented on #47
Hi @fayaz07. some news?? Didn't find anything??

[2020-05-03 10:59] itnks opened #55 "Support for rtl / ltr"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-03 12:41] fayaz07 commented on #55
Hi @itnks , thank you for feature request, if you worked on it already please send a PR

[2020-05-07 08:23] ahmedNY opened #56 "Feature: Use showCupertinoModalPopup when used on IOS"
The progress dialog looks awesome on material apps on Material App, but looks little odd on Cupertino App for IOS.

Use showCupertinoModalPopup(), CupertinoAlertDialog and CupertinoActivityIndicator on IOS devices

[2020-05-07 08:26] fayaz07 commented on #56
Thanks @ahmedNY  for the info. Actually this dialog is never tested with ```iOS```, I will consider your suggestion and improve it

[2020-05-08 08:51] prashant3285 commented on #54
I am having same issue.

From my drawer I navigate to Profile page
Progress Dialog works
I use popAndPushNamed for this navigation

When I pop the Profile page using back nav button (pop)
And retry to navigate to Profile page.
Progress bar doesn't show with error.

I Just modified the lib files to show error as String, hence my error looks different.

[code]

[2020-05-08 16:04] rignaneseleo opened #57 "Error: type 'FlutterError' is not a subtype of type 'String'"
Hi, I'm getting this error on v1.2.2:

[code]

This is what I have on backups_manager.dart:427:
`if (context != null) await pr.hide();`
where `pr` is a `ProgressDialog`.

What could that be?

[2020-05-09 07:05] haaris94 commented on #57
I am also getting the above error

[2020-05-09 07:42] #57 closed, assigned to nobody

[2020-05-09 07:44] fayaz07 commented on #54
When you pop, as ```Dialog``` in Flutter uses the root Navigator it pops the dialog first, then the screen, so there is no issue about it.

You can have something like, ```pushNamed``` or ```push``` instead of ```pushReplacement```, if you need the dialog in the current screen to be alive

[2020-05-09 07:47] fayaz07 commented on #47
@bobosette Can you please give me a shorter version of your code, that involves just the ```progressDialog```, stuff

[2020-05-09 07:48] rhyscoronado commented on #54
I don't think the problem was resolved on my situation compared to the latter who commented 23 hours ago.

If you can, what's wrong with the code I posted?

[2020-05-09 07:59] bobosette commented on #47
Hi dude.... the problem wasn't the progress dialog, but the function that
is heavy....the only way is running that using compute()...

Il Sab 9 Mag 2020, 09:47 Mohammad Fayaz <notifications@github.com> ha
scritto:

[2020-05-09 07:59] fayaz07 commented on #54
[code]

after hiding the dialog, how can you expect it to show?

[2020-05-09 08:04] prashant3285 commented on #54
But, once the routeTraffic() is recalled the dialog should show.
That is not happening

[2020-05-09 08:21] fayaz07 commented on #54
can you please share the complete code to reproduce?

[2020-05-09 08:23] fayaz07 commented on #47
Thanks, I am closing the issue now. Feel free to reopen for more questions

[2020-05-09 08:23] #47 closed, assigned to fayaz07

[2020-05-09 10:30] prashant3285 commented on #54
Ok So I was able to find the issue causing scenario.
This should be helpful

I tried to replicate the issue with a simple code.
Unfortunately (for me) , everything seems to work fine.

So I use drawer from home page to navigate to profile page.
I use a Progress Dialog on the drawer item before it navigates to profile page.
I used popAndPushNamed.
No errors. All work fine.

But when I took the test

[2020-05-09 12:14] fayaz07 commented on #54
Checkout this [commit](https://github.com/fayaz07/progress_dialog/commit/3d7e6c03b2f041e237744da60ed18902a4c874b2). This will be a temporary solution.

**Behaviour**
When you create an instance, the progressDialog will make use of the latest context, that's with it. So if you need to use the old one's, you might need to re-initialize the dialog.

[2020-05-10 13:50] prashant3285 commented on #54
Temporary solution is having same error behavior.

So I put the initialization just above the usage.
That way _pr is initialized every time on tap. Will this cause any issue?

[2020-05-10 14:26] fayaz07 commented on #54
I have run the issue_57.dart file and it's working fine

[2020-05-10 14:26] #54 closed, assigned to fayaz07

[2020-05-19 09:02] yalva opened #60 "Issue when await finishes quickly."
Its not working when trying to hide it in less than a second, whenComplete gets executed, but progress continues to show

I'm making Dio async call after pr.show(), when network failure Dio returns immediately, at this point pr.hide().whenComplete() is getting executed but progress dialog getting shown

[2020-05-20 05:20] rhyscoronado commented on #54
Isn't it a bad thing to put the initialization of the ProgressDialog inside the

[code]

Specially for StatefulWidgets, since they are rebuilt every time, what are we going to do with that?

@fayaz07 @xsahil03x

[2020-05-22 05:05] chitgoks opened #61 "Support for dark/light theme"
Instead of manually setting a background color and the text color, by default the dialog should follow the theme. dark or light

[2020-05-22 07:11] ghost opened #62 "a ProgressDialogType.Download bug for 1.2.3"
just 1.2.3

test code:
[code]
error:
[code]

[2020-05-22 07:27] fayaz07 commented on #62
can you please use the latest flutter version

[2020-05-22 07:27] fayaz07 commented on #61
ok

[2020-05-22 07:28] fayaz07 commented on #60
use await pr.show()

[2020-05-22 07:28] #60 closed, assigned to nobody

[2020-05-22 07:33] ghost commented on #62
my use flutter v1.12.13+hotfix.5  and v1.17.1 , Both errors occurred in version 1.2.3

[2020-05-22 15:39] prasantco opened #63 "Custom Gif not working"
**Describe the bug**
I'm downloading a gif from this url https://loading.io/, and added inside assets in my project ,it's showing spinner without animation. it's static.
Are @fayaz07 suggesting us how to implement custom animated progress bar or downloaded animated spinner(.gif). Because we need it for releasing the product app.
background of spinner has transparent,but it is also not showing tran

[2020-05-23 05:33] phanbaohuy96 opened #64 "The hide method will be close lastest dialog instead of it."
**Describe the bug**
When the progress dialog is showing if I show my dialog then hide this progress dialog, that will be closed my dialog instead of progress dialog

**Expected behavior**
in this case, i want progress dialog closes itself and don't affect another dialog.

**Smartphone (please complete the following information):**
 - All devices.

[2020-05-23 12:56] prasantco opened #65 "Handle library with Bloc Library"
**Describe the bug**
A clear and concise description of what the bug is.
First of all thank you so much @fayaz07 for published this great library.Really appreciated to you.
Now a days there is Bloc library is used for handling the state management, can you suggest us with one example where we are handle this library with Bloc Library. We need your example to support our production app.

[2020-05-23 13:58] sunfase-io commented on #62
I encountered the same problem, and my flutter version is the latest.

[2020-05-24 17:52] tivervac commented on #62
Same here, just ping me if I can help you out with debugging.
Works perfectly fine with 1.2.2

[2020-05-25 08:15] fernando-s97 commented on #62
Same here, but version 1.2.2 the error persists.

[2020-05-25 19:01] prasantco commented on #65
@fayaz07 have you looked or considered my issue?

[2020-05-26 03:14] fayaz07 commented on #65
I already had an idea to manage it with provider bloc, but that requires complete changing the core of the library, I will find a solution for it.

[2020-05-26 05:55] prasantco commented on #65
Sure. Hope that I'll get your response as soon as possible.

On Tue, May 26, 2020 at 8:44 AM Mohammad Fayaz <notifications@github.com>
wrote:

[2020-05-28 12:53] huiwen0212 opened #66 "Show only circular indicator"
Hi, is it possible to just the loading indicator without the message and center it?

[2020-05-28 13:51] fayaz07 commented on #66
check the `child` property

[2020-05-28 13:51] #66 closed, assigned to nobody

[2020-05-28 15:55] huiwen0212 commented on #66
What do I need to do in the child property to remove the Text widget and also center the circularIndicator? Sorry I am new to flutter

[2020-05-29 06:33] fayaz07 commented on #66
Yeah, that's okay
[code]

[2020-05-29 12:42] rhyscoronado commented on #65
@visual-velocity

Can't you just create 3 states for the Bloc?
e.g. When accessing an API:

Handle it through BLoC listener:

GetAPILoading
- show progress dialog

GetAPILoaded
-hide progress dialog

-GetAPIFailed
-hide

`body: BlocListener<ProfileBloc, ProfileState>(
        bloc: bloc,
        listener: (context, state) {
          if (state is ProfileInfoUpdateLoading) {
            pr.show();

[2020-05-29 12:43] rhyscoronado commented on #54
Care to look back into this @fayaz07  @xsahil03x  @prashant3285

[2020-05-29 12:45] fayaz07 commented on #54
well I have added in the latest docs to make it final

[2020-05-29 15:27] prasantco commented on #65
I had already tried and it's worked.
Where will i create the object of progress_dialog is correct if I have to call an event in initState.
Inside Either InitState or BLoC listener(if (state is ProfileInfoUpdateLoading) { pr.show(); })
But i'm not able to update the content of progress dialog continuously with bloc.

[2020-05-29 16:01] rhyscoronado commented on #54
But doesn't that render the progress dialog customizable should you want to update the message or other properties?

[2020-05-30 09:29] toan512 commented on #62
Same error :((

[2020-05-30 13:22] fayaz07 commented on #62
can someone give me a piece of code to reproduce this issue

[2020-06-01 09:52] SpringMagnolia commented on #62
I found the same error today, espically when I use the `ProgressDialogType.Download` ，So I change it to `ProgressDialogType.Normal`,  I think maybe we use the ListView cause this error.

my code as below :
[code]

[2020-06-01 09:55] SpringMagnolia commented on #62
I found the same error today, espically when I use the `ProgressDialogType.Download` ，So I change it to `ProgressDialogType.Normal`, I think maybe we use the ListView cause this error, because the total height is dynamic .

my code as below :
[code]

[2020-06-03 16:29] AbdulRMohsen opened #69 "RenderBox Size Isse Exception caught by rendering library"
When using a long nested tree, a problem with the RenderBox size.

RenderBox was not laid out: RenderCustomPaint#0654b relayoutBoundary=up3 NEEDS-PAINT NEEDS-COMPOSITING-BITS-UPDATE
'package:flutter/src/rendering/box.dart':

RenderFlex children have non-zero flex but incoming height constraints are unbounded.

I was able to solve this issue by replacing the `Expanded` with `Flexible` in progress_d

[2020-06-04 05:54] RyosukeOK commented on #69
I checked this, @amohsen1001 's solution is valid.

[2020-06-04 18:25] diego-lipinski-de-castro commented on #69
Can you make a pull request?

[2020-06-05 10:26] fayaz07 commented on #62
Sorry guys, actually I was involved in some other stuff, I will resolve this asap. Thanks a ton all of you!

[2020-06-06 11:26] #69 closed, assigned to nobody

[2020-06-06 11:27] #62 closed, assigned to nobody

[2020-06-24 12:55] cdhigh opened #70 "Can provide a close button on top right corner to interrupt a long progress?"
Can provide a close button on top right corner to interrupt a long progress?
Users can only click a close button to interrupt.

[2020-06-26 05:34] fayaz07 commented on #70
Sure, can you elaborate how you would like to have it?

[2020-06-26 09:53] cdhigh commented on #70
![Screenshot_2020-06-26-06-52-58](https://user-images.githubusercontent.com/2580077/85844870-c909a600-b779-11ea-92c7-648265df68cd.jpg)
Like this

[2020-06-26 10:17] fayaz07 commented on #70
Sure, Thanks @cdhigh

[2020-06-29 21:31] georgepanait09 opened #72 "Wrap MaterialApp to call progress dialog without context"
Hi! Can you change the core to wrap MaterialApp? I need to call progress dialog without context something like https://pub.dev/packages/oktoast

[2020-07-03 08:56] fajarainul commented on #34
nice explanation, thanks!

[2020-07-03 09:34] fajarainul commented on #34
@davbaron can you post your solution??

[2020-07-03 12:16] Lzyct opened #73 "Bug on hide"
**Describe the bug**
I have issue when try to hide progress dialog.
It's always showing if distance between show and hide is fast

**To Reproduce**
Steps to reproduce the behavior:
1.show progress dialog
2.try without delay then hide

**Expected behavior**
progress dialog should be hide

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the fo

[2020-07-03 12:19] fayaz07 commented on #73
use await before  show and hide methods

[2020-07-03 12:19] #73 closed, assigned to nobody

[2020-07-03 15:20] davbaron commented on #34
You can PM me at david dash baron at em es en dot com.

[2020-07-06 03:15] Lzyct commented on #73
i was use await when call show and hide method but it's not work @fayaz07
progressbar not hiding.
Thanks

[2020-07-06 03:18] Lzyct commented on #73
![image](https://user-images.githubusercontent.com/1531684/86552373-646cf900-bf7a-11ea-80c5-45ba6606f146.png)

stack in this

[2020-07-06 05:05] Lzyct commented on #73
Fix : Need to add delay before hide progress dialog

[2020-07-06 07:28] fayaz07 commented on #73
No, you wouldn't need to do that, you can just fix it by adding `await` keyword

[2020-07-06 08:27] Lzyct commented on #73
not working if just add await,
i was add `await` and still stuck when delay between `.show()` and `.hide()` it's too fast, so i add delay about 300ms before hide

[2020-07-20 08:38] varma017 commented on #45
Hello i tried flutter clean and then flutter packages get but its not working for me
is there any other solution for my problem @fayaz07

[2020-07-21 10:17] fayaz07 commented on #72
Hi @georgepanait09 maybe you can check my overlay module
https://github.com/fayaz07/ots
this will server your need

[2020-07-21 10:17] #72 closed, assigned to nobody

[2020-07-23 17:19] guicostadev commented on #63
Try this:

[code]

[2020-07-23 18:59] prasantco commented on #63
Thank You so much Fayaz. It's working now.

On Thu, Jul 23, 2020 at 10:49 PM Guilherme <notifications@github.com> wrote:

[2020-07-26 10:34] edx-mohamed-khamis commented on #46
Hello there @fayaz07  i do have the same issue i will share my code with you

`  bool isHidden = await pr.hide();
          if(isHidden){
Navigator.of(context).pop();
        }`

When i debug my code it works fine , but when i use it as normal it doesn't work . as the guys above mentioned sometimes it works sometimes not

[2020-07-26 10:38] fayaz07 commented on #46
@khamisEDX , can you post full page sample code

[2020-07-26 10:42] edx-mohamed-khamis commented on #46
[code]

[2020-07-26 10:44] fayaz07 commented on #46
@khamisEDX  can you make it a bit simple :)

[2020-07-26 11:05] edx-mohamed-khamis commented on #46
Yes sorry for the previous 👍

[2020-07-28 07:49] edx-mohamed-khamis commented on #46
@fayaz07  any news ?

[2020-07-28 13:21] fayaz07 commented on #46
Sorry @khamisEDX can you give me shorter code

[2020-07-29 05:20] edx-mohamed-khamis commented on #46
Basically this is the function you need to see @fayaz07
[code]

[2020-08-02 08:38] richardkrieger opened #75 "Multiple dialogs on multiple Routes"
Working example for problem:

[code]

ParentWidget -> Child1Widget and back works properly

ParentWidget -> Child1Widget -> Child2Widget:
1. Child1Widget -> Child2Widget - no dialog
2. Child2Widget -> Child1Widget -> ParentWidget - dialog on ParentWidget cannot be removed

[2020-08-06 08:55] zhangli-jerry opened #76 "Dynamically update not working well"
**Describe the bug**
ProgressDialogType.Download , show/hide works well.
When use pr.update, the process is stopped and dialog is showing.

**To Reproduce**

[code]

**Expected behavior**
progress text will be updated

**Smartphone:**
 - Device: [iPhoneX Max]
 - OS: [iOS13.6]

[2020-08-11 12:58] fernando-s97 commented on #65
@visual-velocity It is possible. I'm currently using in this way:

[code]
But it would be better if could be used "the BLoC way"

[2020-08-13 08:42] Hassanmsaid opened #77 "Can I disable user interaction when loading?"
I want to prevent the user from touching or interacting with any part of the screen while loading is shown(like progress dialog in Android). Is there any way I can do that?

[2020-08-13 08:44] #77 closed, assigned to nobody

[2020-08-13 19:58] fernando-s97 opened #78 "Download progress decimal places pattern"
**Is your feature request related to a problem? Please describe.**
I need to change the predefined progress text when using .
When displaying the `ProgressDialogType.Download`, I don't like the fact that that progress shows its complete value. For example:
1/100.0
1.3276872287/100.0
3.82738/100.0

I guess it would be nice to have some way to make it follow a pattern.

**Describe the solution you'd

[2020-08-14 08:53] fayaz07 commented on #78
you can achieve that with something like this

[code]

[2020-08-14 08:53] #78 closed, assigned to nobody

[2020-08-15 22:28] Vinayak27Mobility opened #80 "PD not getting dismissed some times"
**Describe the bug**
When dealing with Asuncións method, showing PD with Util class across app.

**To Reproduce**
Calling update record async Firestore method and showing Updating PD and post method calling Util.dismissProgressBar(). Please refer the code:

Util Class code :
Code :
static showProgressBar(BuildContext context, String message) async {
    if(pDialog == null) {
      pDialog = Progre

[2020-08-19 12:32] fernando-s97 commented on #78
Where?

[2020-08-19 13:02] fayaz07 commented on #78
[code]

[2020-08-20 00:58] rasyeda commented on #80
It's because the pDialog is trying to hide itself when the dialog is not shown completely.
The isShowing flag is set after 200ms (the default  transitionDuration of the progress_dialog).

Some workaround you can wait to 200ms when the dialog failed to hide itself.

static Future dismissProgressBar() async {
[code]

[2020-08-20 04:47] fayaz07 commented on #80
please use await

[2020-08-22 17:47] fernando-s97 commented on #78
This will correctly show the current progress, but not max progress. It will display something like xx.xx/100.0 - The max progress still displays 1 decimal place.

[2020-08-22 17:49] fayaz07 commented on #78
you should figure it out bro

[2020-08-22 18:19] fernando-s97 commented on #78
I've figured out. It was just a tip to improve your package...

[2020-08-22 18:20] fayaz07 commented on #78
thanks @fernando-s97 I will surely update, due to busy schedule I wasn't able to look up on it

[2020-08-23 06:08] Vinayak27Mobility commented on #80
Thank you smooch @fayaz07 and @rasyeda for help! It resolved referring to comments.

[2020-08-23 06:12] #80 closed, assigned to nobody

[2020-08-26 14:26] fernando-s97 commented on #80
Hi!

I'm having the same issue, but I'm using the await keyword.

[code]

The log is printing `showing: false` even though the dialog **is** being shown. Any idea?

OBS: The code above is being called in a BLoC listener (which is called multiple times).

[2020-08-26 14:33] fernando-s97 commented on #53
@lqk9511 Did you manage to solve it? I'm facing the same issue on Android...

[2020-08-26 14:38] fernando-s97 commented on #31
@BjoernPetersen Did you manage to solve this? I'm facing the same issue

[2020-08-26 14:39] fernando-s97 commented on #28
@hieuseesaa Did you manage to solve this? I'm facing the same issue...

[2020-08-26 14:59] fernando-s97 commented on #34
@davbaron I was unable to interpret your email. Can you please try to re-pass?

[2020-08-27 01:18] jackyhieu1211-hn commented on #28
@fernando-s97 I switch to another library [(Modal progess hub)](https://pub.dev/packages/modal_progress_hud) to use.

[2020-08-27 18:04] fayaz07 commented on #31
what issue did you face @fernando-s97
can you tell me exactly what's the situation?

[2020-08-27 18:06] fayaz07 commented on #53
@fernando-s97 what happened like, you are facing all the issues which are present in the issues section?

[2020-08-27 20:43] fernando-s97 commented on #28
Thanks!

[2020-08-27 20:46] fernando-s97 commented on #53
@fayaz07 Yes! The first dialog shows correctly, and the second one never hides, but the isShowing() method returns false

[2020-08-28 04:45] fayaz07 commented on #53
can you show me the code

[2020-09-01 13:06] edx-mohamed-khamis commented on #46
the problem was not using await in show() , so using await for both hide && show , you can use this class i made if you want to be a singleton class

[code]

[2020-09-01 13:23] fernando-s97 commented on #53
[code]

[2020-09-02 10:42] AshrafLP commented on #77
Have you found a solution for this issue in this dependency

[2020-09-15 00:53] jjosenaldo opened #81 "Dialog not being hid after dispose() being called"
My code is roughly the following:

[code]
*Between* (2) and (3), the `ProgressDialog dismissed by back button` log was shown, but the `callExternalApi` does nothing but calling an external API (and, well, I did not press the back button). Besides, the dialog was not dismissed. It also involves a Provider, but I don't think that's relevant. I looked up the code of this lib, and noticed that the log

[2020-09-17 22:38] ethras commented on #80
Same issue here on Android

[2020-10-27 07:20] buckydroid opened #82 "How to change the progressWidget size?"
I'm currently trying to make a progress dialog for the signing up process.

` loadingDialog.style(
        message: "Signing up...",
        backgroundColor: Colors.grey[900],
        progressWidget: CircularProgressIndicator(),
        padding: EdgeInsets.all(20),
        elevation: 10.0,
        borderRadius: 3.0,
        messageTextStyle: TextStyle(color: Colors.white, fontSize: 21)
    );`

Ev

[2020-10-27 09:04] fayaz07 commented on #82
I don't think you can do that directly, the api has to be updated in order to do that.

[2020-10-27 10:45] kartercs commented on #64
Same here, can't we get a key to put onthe progressDialog so that it closes this one and not others?

[2020-11-04 07:37] damianthingshung commented on #76
I am having the same problem. Have you found the solution?